/* 90 */
.main-container{
    background-color:white;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
  }
  
  .title{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(212, 209, 209);
    height: 90px;
    width: 100vw;
  }
  
  .title h1{
    font-size:70px;
    font-weight:normal;
  }
  
  .title img{
    height: 90px;
    width: 33vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  
  .img-container{
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    column-gap: 10px;
  }

  #alagarTempleImg{
    height: 250px;
    width: 470px;
  }

  #alagar{
    height: 250px;
    width: 230px;
  }

  #kallalagar{
    height: 250px;
    width: 230px;
  }

  #logo{
    height: 250px;
    width: 250px;
  }

  /* 100 */
  @media (min-width: 992px) and (max-width: 1199px) {
    
    
  #alagarTempleImg{
    height: 250px;
    width: 420px;
  }


  #alagar{
    height: 250px;
    width: 210px;
  }

  #kallalagar{
    height: 250px;
    width: 210px;
  }

  #logo{
    height: 250px;
    width: 230px;
  }
    
  }

  /* 80 */

  @media (min-width: 1300px) {
    .img-container{
        display: flex;
        height: 280px;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        column-gap: 17px;
      }
    #alagarTempleImg{
        height: 280px;
        width: 520px;
      }
    
      #alagar{
        height: 280px;
        width: 250px;
      }
    
      #kallalagar{
        height: 280px;
        width: 250px;
      }
    
      #logo{
        height: 280px;
        width: 280px;
      }
  }

  /* phone */

  @media (min-width: 430px) and (max-width: 991px){
    .main-container{
        background-color:white;
        font-family:'Times New Roman', Times, serif;
        display: flex;
        flex-direction: column;
      }
      
      .title{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(212, 209, 209);
        height: 70px;
        width: 100vw;
        
      }
      
      .title h1{
        font-size:40px;
        font-weight:normal;
      }
      
      .title img{
        height: 60px;
        width: 40vw;
        padding-left: 2vw;
        padding-right: 2vw;
      }
      
      .img-container{
        display: grid;
        grid-template-columns: 50vw 50vw ;
        justify-content: space-evenly;
        margin-top: 5px;
        column-gap: 10px;
        padding: 0px;
      }
    
      #alagarTempleImg{
        height: 200px;
        width: 49vw;
      }
    
      #alagar{
        height: 200px;
        width: 49vw;
      }
    
      #kallalagar{
        height: 200px;
        width: 49vw;
      }
    
      #logo{
        height: 200px;
        width: 49vw;
      }
  }